:root {
    --green1: #10e956;
    --green2: #17d051;
    --green3: rgba(20,233,88,.157);
    --green4: #14e956;
    --green5: #0c8c34;

    --black: black;
    --black1: #050810;
    --grey: #d6d6d6;
    --grey2: #333;
    --grey3: #1e2128;
    --grey4: #021709;

    --blue: #0077b5;
    --blue1: #cce4f0;
    --blue2: #1da1f2;
    --blue3: #d2ecfc;
    --blue4: #006cff;
    --blue5: #cce2ff;
    --blue6: #12141d;

    --white: white;
    --white1: #f5f5f5;
    --white2: #fdfdfd;

    --shadow1: #1f2127;

  }
  