:root {
    --green1: #10e956;
    --green2: #17d051;
    --black: black;

    --grey: #d6d6d6;
    --grey2: #333;

    --blue: #0077b5;
    --blue1: #cce4f0;
    --blue2: #1da1f2;
    --blue3: #d2ecfc;
    --blue4: #006cff;
    --blue5: #cce2ff;
    
    --white: white;
    --white2: #fdfdfd;

  }
  