/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'ExoSpace';
    color: var(--white1);
    background-color: var(--black1);
}
*:focus {
    outline: none;
}

*{
    box-sizing: border-box;   
    cursor: url('./assets/arrow.svg') 15 15,move;

}

 /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--green2);
    transform: translate3d(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.8rem;  
}

*::-webkit-scrollbar-track {
    background: var(--white2);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green2);
    border-radius: 40px;
    border: 2px solid var(--white2);
}

@font-face {
    font-family: "Cyborg";
    src: local("Cyborg"),
        url("./assets/Cyborg.ttf") format("truetype");
}
  
@font-face {
    font-family: "ExoSpace";
    src: local("ExoSpace"),
    url("./assets/ExoSpace.ttf") format("truetype");
    }

    ::selection {
    background-color: #14E956;
    color: var(--white1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5rem;
    line-height: 60px;
}

h2 {
    font-size: 2.8rem;
    line-height: 48px;
}

h3 {
    font-size: 2.3rem;
    line-height: 34px;
}

h4 {
    font-size: 2rem;
    line-height: 30px;
}

a {
    text-decoration: none;
}
  
.pointer {
    cursor: url('./assets/click.svg') 15 15,move;
}

