/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'ExoSpace';
    color: var(--white1);
    background-color: var(--black1);
}
*:focus {
    outline: none;
}

*{
    box-sizing: border-box;   
    cursor: url('./assets/arrow.svg') 15 15,move;

}

 /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--green2);
    transform: translate3d(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.8rem;  
}

*::-webkit-scrollbar-track {
    background: var(--white2);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green2);
    border-radius: 40px;
    border: 2px solid var(--white2);
}

@font-face {
    font-family: "Cyborg";
    src: local("Cyborg"),
        url("./assets/Cyborg.ttf") format("truetype");
}
  
@font-face {
    font-family: "ExoSpace";
    src: local("ExoSpace"),
    url("./assets/ExoSpace.ttf") format("truetype");
    }

    ::selection {
    background-color: #14E956;
    color: var(--white1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5rem;
    line-height: 60px;
}

h2 {
    font-size: 2.8rem;
    line-height: 48px;
}

h3 {
    font-size: 2.3rem;
    line-height: 34px;
}

h4 {
    font-size: 2rem;
    line-height: 30px;
}

a {
    text-decoration: none;
}
  
.pointer {
    cursor: url('./assets/click.svg') 15 15,move;
}

//flip card for titles
.flip_title{
    -webkit-animation: flipInY 2s ease forwards;
    animation: flipInY 2s ease forwards;
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;

    align-items: center;
    background: var(--blue6);
    border-radius: 12px;
    box-shadow: inset 0 0 4px 1px var(--green4);
    -webkit-box-shadow: inset 0 0 4px 1px var(--green4);
    -moz-box-shadow: inset 0 0 4px 1px var(--green4);
    margin-bottom: 3rem;
    padding: 0.8rem 2rem;

    -webkit-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
    color: var(--green4);
    font-family: Cyborg;
    font-weight: 900;
    text-shadow: 3px 3px 0 var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #000;
    -webkit-text-fill-color: var(--green4);    
}

//pulse button styles

.pulse_button_wrap {
    align-items: center;
    display: flex;
    height: -webkit-max-content;
    height: max-content;
    justify-content: center;
    margin-top: 2rem
}

.pulse_button {
    background: #14e956;
    background-color: #14e956;
    background-image: linear-gradient(315deg,#14e956,#72f29a);
    border: none;
    border-radius: 7px;
    box-shadow: 9px 7px 32px -11px rgba(20,233,86,.74);
    font-family: Cyborg;
    font-size: 1.1rem;
    font-weight: 900;
    outline: none;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-transform: lowercase;
    align-self: flex-end;
    transition: all .3s ease-in-out 0s;
}

.pulse_button:before {
    border: 3px solid #72f29a;
    border-radius: 7px;
    box-shadow: 0 0 60px rgba(20,233,86,.64);
    content: "";
    left: 50%;
    min-height: 3rem;
    min-width: 7rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: all .3s ease-in-out 0s;
}
.pulse_button:hover::before {
    opacity: 1;
}
.pulse_button:after {
    -webkit-animation: ring 1.5s infinite;
    animation: ring 1.5s infinite;
    border: 6px solid #14e956;
    border-radius: 7px;
    content: "";
    height: 3rem;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 9rem;
    z-index: -1;
}

.pulse_button:hover::after{
    display: none;
}