.hero_section {
    height: 90vh; 
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right bottom,rgba(5,8,16,.6),rgba(5,8,16,.6)),url(../../../assets/bg.svg);
    background-position: top;
    background-size: cover;
    display: flex;
    padding: 8rem 5rem 0;
    overflow: hidden;
}

.intro {
    padding-right: 6rem;
    width: 55%;
    -webkit-animation: fadeInLeft 2s ease forwards;
    animation: fadeInLeft 2s ease forwards;
}

.my_name {
    background: var(--green3);
    border-radius: 12px;
    color: var(--green4);
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .05em;
    margin: 0;
    width: max-content;
    width: -webkit-max-content;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
}

.my_name span {
    animation: wobble 2.5s infinite;
    display: inline-block;
    font-size: 1.7rem;
}

.moto {
    margin-bottom: 2rem!important;
    font-weight: 900;
    letter-spacing: .02em;
    margin: 0;
    text-transform: capitalize;

}

.moto span {
    color: var(--green4);
    font-family: Cyborg;
    font-size: 4.2rem;
    text-shadow: 3px 3px 0 var(--shadow1), -1px -1px 0 var(--shadow1), 1px -1px 0 var(--shadow1), -1px 1px 0 var(--shadow1), 1px 1px 0 var(--shadow1);
}

.about_me {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 30px;
    margin: 0;
    opacity: .8;
    text-transform: lowercase;
}

.anxhela_avatar {
    -webkit-animation: fadeInRight 2s ease forwards;
    animation: fadeInRight 2s ease forwards;
    padding-bottom: 1rem;
    // width: 40%;
    width: 30%;
}


footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5rem;
    padding: 0;
    width: 100%;
}
 
.footer_title {
    align-self: center;
    margin-bottom: 4.5rem;
    -webkit-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.footer_title {
    color: var(--green4);
    font-family: Cyborg;
    font-size: 3rem;
    font-weight: 900;
    opacity: .9;
    text-shadow: 3px 3px 0 var(--green4), -1px -1px 0 var(--green4), 1px -1px 0 var(--green4), -1px 1px 0 var(--green4), 1px 1px 0 var(--green4);
    text-transform: uppercase;
    -webkit-text-stroke: 0.4px #000;
    -webkit-text-fill-color: var(--green4);
}

.socials {
    display: flex;
    width: 100%;
}

.footer_contact {
    width: 25%;
    display: flex;
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
}
.footer_contact:hover {
    opacity: .7;
}

.footer_contact svg {
    height: 10vh;
    width: 10vh;
}

.github {
    color: var(--grey);
    background-color: var(--grey2);
}

.linkedin {
    color: var(--blue1);
    background-color: var(--blue);
}

.upwork {
    color: var(--blue3);
    background-color: var(--blue2);
}

.skype {
    color: var(--blue5);
    background-color: var(--blue4);
}

.email_me {
    width: 100%;
    align-items: center;
    background: var(--green6);
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 100%;
    color: var(--white3);
    font-family: Cyborg;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0 0 -0.3rem;
    text-transform: uppercase;
}

.email_me svg {
    height: 8vh;
    margin: -0.3rem 0 0;
    margin-left: 2rem;
    width: 8vh;
}

.email_me:hover {
    opacity: .7;
}

.copyright {
    align-items: center;
    background: var(--grey5);
    display: flex;
    height: -webkit-max-content;
    height: max-content;
    justify-content: center;
    width: 100%;
    color: var(--green7);
    font-family: Cyborg;
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0;
    padding: 2rem 0;
    text-transform: capitalize;
}