<div class="hero_section">
    <div class="intro">
        <div class="my_name">
            <span>✌🏻</span> Hi there! I'm Anxhela
        </div>
        <div class="moto">
            <h1>a <span>Frontend Dev</span>. <br>
             I help web <span>ideas</span> come to <span>life</span> </h1>
        </div>
        <div class="about_me">
            I am a software engineer with more than five years of experience. Recognized as a practical and effective
                developer, experienced in leading cross-functional teams in a time-pressured setting to complete
                projects on schedule and within budget.
        </div>
    </div>
    <div class="anxhela_avatar"> 
		<app-avatar></app-avatar>
    </div>
</div>

<app-tooling></app-tooling>
<app-showroom></app-showroom>

<div class="flip_title flip_margin about">
    <h2>About Me</h2>
</div>
<app-home-about></app-home-about>

