.wrapper {
    height: 3.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -2vh;
}

.wrapper div{
    background-color: var(--black);
    height: 8px;
    border-radius: 4px;
}

.bar_1 {
    width: 3.5rem;
 }
.bar_2 { 
    width: 2.7rem;
}
 .bar_3 {
    width: 2rem;
 }