.preloader {
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black1);
    z-index: 110;
}


footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5rem;
    padding: 0;
    width: 100%;
    @media (min-width: 1025px) and (max-width: 1300px){
        margin-top: 10rem;
    }    
}
 
.footer_title {
    align-self: center;
    margin-bottom: 4.5rem;
    -webkit-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.footer_title {
    color: var(--green4);
    font-family: Cyborg;
    font-size: 3rem;
    font-weight: 900;
    opacity: .9;
    text-shadow: 3px 3px 0 var(--green4), -1px -1px 0 var(--green4), 1px -1px 0 var(--green4), -1px 1px 0 var(--green4), 1px 1px 0 var(--green4);
    text-transform: uppercase;
    -webkit-text-stroke: 0.4px #000;
    -webkit-text-fill-color: var(--green4);
    @media (min-width: 1025px) and (max-width: 1300px){
        margin-bottom: 4.3rem;
        h2 {font-size: 2.5rem;}
    }    
}

.socials {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer_contact {
    width: 25%;
    display: flex;
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
    @media (min-width: 760px) and (max-width: 1024px){
        width: 50%;
        height: 6rem;
    }
    @media (min-width: 480px) and (max-width: 759px){
        width: 50%;
        height: 6rem;
    }
    @media (min-width: 480px) and (max-width: 759px){
        height: 5rem;
        justify-content: space-between;
        padding: 0 3rem;
        width: 100%;
    }
    @media (max-width: 479px){
        height: 5rem;
        justify-content: space-between;
        padding: 0 3rem;
        width: 100%;
    }
    
}
.footer_contact:hover {
    opacity: .7;
}

.footer_contact svg {
    width: 85px;
    height: 85px;
    @media (min-width: 1025px) and (max-width: 1300px) {
        width: 75px;
        height: 75px;
    }
    @media (min-width: 760px) and (max-width: 1024px) {
        width: 65px;
        height: 65px;
    }
    @media (min-width: 480px) and (max-width: 759px) {
        width: 55px;
        height: 55px;
    }
    @media (max-width: 479px) {
        width: 45px;
        height: 45px;
    }
}

.github {
    color: var(--grey);
    background-color: var(--grey2);
}

.linkedin {
    color: var(--blue1);
    background-color: var(--blue);
}

.upwork {
    color: var(--blue3);
    background-color: var(--blue2);
}

.skype {
    color: var(--blue5);
    background-color: var(--blue4);
}

.email_me {
    width: 100%;
    align-items: center;
    background: var(--green6);
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 100%;
    color: var(--white3);
    font-family: Cyborg;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0 0 -0.3rem;
    text-transform: uppercase;
    @media (min-width: 1025px) and (max-width: 1300px){
        font-size: 2rem;
    }
    @media (min-width: 760px) and (max-width: 1024px) {
        font-size: 1.4rem;
     }
     @media (min-width: 480px) and (max-width: 759px) {
        font-size: 1.7rem;
     }
     @media (max-width: 479px) {
        font-size: 1.5rem;
    }
}

.email_me svg {
    height: 3.5rem;
    margin: -0.3rem 0 0;
    margin-left: 2rem;
    @media (min-width: 1025px) and (max-width: 1300px){
        height: 3rem;
    }
    @media (min-width: 760px) and (max-width: 1024px) {
        height: 30px;
        width: 30px;
    }
    @media (min-width: 480px) and (max-width: 759px) {
        height: 38px;
        width: 38px;
    }
    @media (max-width: 479px) {
        height: 40px;
        width: 40px;
    }
}

.email_me:hover {
    opacity: .7;
}

.copyright {
    align-items: center;
    background: var(--grey5);
    display: flex;
    height: -webkit-max-content;
    height: max-content;
    justify-content: center;
    width: 100%;
    color: var(--green7);
    font-family: Cyborg;
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0;
    padding: 2rem 0;
    text-transform: capitalize;
    @media (min-width: 760px) and (max-width: 1024px) {
        font-size: 1.1rem;
     }
     @media (min-width: 480px) and (max-width: 759px) {
        font-size: .9rem;
        text-align: center;
        padding: .9rem .3rem;
    }
    @media (max-width: 479px) {
        font-size: .9rem;
        text-align: center;
        padding: .7rem .2rem;
        display: flex;
        flex-direction: column;
    }
    span {
        animation: heartBeat 2.5s infinite;
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.social_title {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
    @media (min-width: 1025px) and (max-width: 1300px) {
        font-size: 3.1rem;
    }
    @media (min-width: 760px) and (max-width: 1024px) {
        font-size: 2.9rem;
    }
    @media (min-width: 480px) and (max-width: 759px) {
        font-size: 2.6rem;
    }
    @media (max-width: 479px) {
        font-size: 2.1rem;
    }
}
