<div class="work_item_wrapper" [ngClass]="{'work_item_wrapper_reverse': !isRight}">
    <div *ngIf="isRight" class="work_image">
        <img src="../../../../assets/showroom/{{image}}">
    </div>
    <div class="details">
        <div class="title">
            <h4>{{title}}</h4>
        </div>
        <div class="description">{{description}}</div>
        <div class="pulse_button_wrap pointer"><button class="pulse_button pointer" (click)="goTo(url)">visit →</button></div>

    </div>
    <div  *ngIf="!isRight" class="work_image_reverse">
        <img src="../../../../assets/showroom/{{image}}">
    </div>
</div>
