.about {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
}

.education {
    display: flex;
    gap: 9rem;
    margin-left: 12rem;
    position: relative;
    bottom:-3rem;
}

.education div{
    width: 15rem;
    height: 5rem;
}

.experience {
    display: flex;
    gap: 6rem;
    margin-left: 24rem;
    position: relative;
    top: -5rem;
}
.experience div{
    width: 15rem;
    height: 5rem;
}

.line {
    fill: none;
    stroke: #2ab673;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    stroke-dasharray: 860; /* Length of the line path */
    stroke-dashoffset: 860; /* Start with the line hidden */
    animation: line-anim 2.5s ease forwards, fill 0.2s ease forwards 3.5s;
  }

.bubble1 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards, fill 0.5s ease forwards 3.5s;
}

.para1 p{

    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.bubble2 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards 0.4s, fill 0.5s ease forwards 3.5s;
}

.para2{
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.bubble3 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards 0.8s, fill 0.5s ease forwards 3.5s;
}
.para3{
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.bubble4 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards 1.2s, fill 0.5s ease forwards 3.5s;
}
.para4{
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.bubble5 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards 1.6s, fill 0.5s ease forwards 3.5s;
}
.para5{
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.bubble6 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards 2s, fill 0.5s ease forwards 3.5s;
}
.para6{
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.bubble7 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 2s ease forwards 2.4s, fill 0.5s ease forwards 3.5s;
}
.para7{
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
  @keyframes line-anim {
    to {
      stroke-dashoffset: 0; /* Draw the line */
    }
  }
  
  @keyframes fill {
    to {
      fill: #2ab673; /* Change the fill color */
    }
  }