<div class="about">
    <div class="flip_title flip_margin">
        <h2>About Me</h2>
    </div>

    <div class="timeline">
        <div class="education"> 
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec lectus ac libero venenatis aliquam. Praesent a justo sed justo dignissim posuere. Vestibulum tristique, massa ut tincidunt fringilla, velit justo fringilla ex, ut mattis dui ex in dolor.<p></p></div>
            <div class="para3">Nunc cursus, elit non tincidunt viverra, sapien odio eleifend est, ut vehicula orci arcu eu orci. Integer varius sapien nec arcu fermentum vestibulum. Donec auctor leo id enim vehicula, sed auctor sapien varius. Aliquam nec ante at justo mattis vehicula id non odio. </div>
            <div class="para5">Vivamus bibendum, justo in viverra auctor, purus augue tristique lorem, eu bibendum nisi sem eu est. Sed pharetra, purus eget laoreet scelerisque, nunc massa pellentesque ipsum, ut egestas ex ante eget justo.</div>
        </div>
        <svg version="1.1" id="Layer_2_00000158708875330365002770000016503161165898754231_"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 860 175.8"
             style="enable-background:new 0 0 860 175.8;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:none;stroke:#2AB673;stroke-width:5;stroke-miterlimit:10;}
        </style>
        <line class="line" x1="0" y1="87.9" x2="860" y2="87.9"/>
        <g class="bubble1">
            <path class="st0" d="M161.4,87.9c2.1,0,34.8,0.1,50-25c6.2-10.2,7-20.5,6.9-26.4"/>
            <circle class="st0" cx="218.1" cy="20" r="17"/>
        </g>
        <g class="bubble3">
            <path class="st0" d="M329.2,87.9c2.1,0,34.8,0.1,50-25c6.2-10.2,7-20.5,6.9-26.4"/>
            <circle class="st0" cx="386.1" cy="19.5" r="17"/>
        </g>
        <g class="bubble5">
            <path class="st0" d="M496.9,87.9c2.1,0,34.8,0.1,50-25c6.2-10.2,7-20.5,6.9-26.4"/>
            <circle class="st0" cx="553.9" cy="19.5" r="17"/>
        </g>
        <g class="bubble2">
            <path class="st0" d="M243.4,87.9c2.1,0,34.8-0.1,50,25c6.2,10.2,7,20.4,6.9,26.4"/>
            <circle class="st0" cx="300.4" cy="156.3" r="17"/>
        </g>
        <g class="bubble4">
            <path class="st0" d="M393.4,87.9c2.1,0,34.8-0.1,50,25c6.2,10.2,7,20.4,6.9,26.4"/>
            <circle class="st0" cx="450.4" cy="155.9" r="17"/>
        </g>
        <g class="bubble6">
            <path class="st0" d="M543.3,87.9c2.1,0,34.8-0.1,50,25c6.2,10.2,7,20.4,6.9,26.4"/>
            <circle class="st0" cx="600.4" cy="155.9" r="17"/>
        </g>
        <g class="bubble7">
            <path class="st0" d="M693.5,87.9c2.1,0,34.8-0.1,50,25c6.2,10.2,7,20.4,6.9,26.4"/>
            <circle class="st0" cx="750.1" cy="155.9" r="17"/>
        </g>
        </svg>
        <div class="experience"> 
            <div class="para2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec lectus ac libero venenatis aliquam. Praesent a justo sed justo dignissim posuere. Vestibulum tristique, massa ut tincidunt fringilla, velit justo fringilla ex, ut mattis dui ex in dolor.</div>
            <div class="para4">Nunc cursus, elit non tincidunt viverra, sapien odio eleifend est, ut vehicula orci arcu eu orci. Integer varius sapien nec arcu fermentum vestibulum. Donec auctor leo id enim vehicula, sed auctor sapien varius. Aliquam nec ante at justo mattis vehicula id non odio. </div>
            <div class="para6">Vivamus bibendum, justo in viverra auctor, purus augue tristique lorem, eu bibendum nisi sem eu est. Sed pharetra, purus eget laoreet scelerisque, nunc massa pellentesque ipsum, ut egestas ex ante eget justo.</div>
            <div class="para7">Vivamus bibendum, justo in viverra auctor, purus augue tristique lorem, eu bibendum nisi sem eu est. Sed pharetra, purus eget laoreet scelerisque, nunc massa pellentesque ipsum, ut egestas ex ante eget justo.</div>
        </div>
    </div>
</div>    