<div class="about">
    <div class="flip_title flip_margin">
        <h2>About Me</h2>
    </div>

    <div #timelineAnim class="timeline">
        <svg version="1.1" id="Layer_2_00000158708875330365002770000016503161165898754231_"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 860 175.8"
        style="enable-background:new 0 0 860 175.8;" xml:space="preserve">
   <style type="text/css">
       .st0{fill:none;stroke:#1AB147;stroke-width:4;stroke-miterlimit:10;}
       .st1{fill:none;}
   </style>
   <line class="st0" x1="-36.8" y1="100.1" x2="880.3" y2="100.1"/>
   <g>
       <g>
           <path class="st0" d="M302.3,100.1"/>
       </g>
   </g>
   <path class="st1" d="M622.6,100.5"/>
   <g class="bubble1">
       <polyline class="st0" points="144.3,100.1 166.1,100.1 188.8,122.9 213.1,122.9 	"/>
       <circle class="st0" cx="215.9" cy="123.3" r="3.7"/>
       <polyline class="st0" points="188.8,122.9 213.1,147.1 244,147.1 	"/>
       <circle class="st0" cx="246.1" cy="147.1" r="3.7"/>
   </g>
   <g class="bubble3">
       <polyline class="st0" points="482.9,100.2 506.4,123.7 553.7,123.7 567.9,138 	"/>
       <circle class="st0" cx="569.5" cy="139.9" r="3.7"/>
       <polyline class="st0" points="523.1,123.7 544.3,139.8 544.3,150.8 	"/>
       <circle class="st0" cx="544.3" cy="152.8" r="3.7"/>
   </g>
   <g class="bubble5">
       <polyline class="st0" points="373.4,100.1 400.5,100.1 428.9,71.6 459.1,71.6 	"/>
       <circle class="st0" cx="462.2" cy="71.6" r="3.7"/>
       <polyline class="st0" points="416.2,81.6 400.8,66.1 414.4,52.5 447.8,52.5 	"/>
       <circle class="st0" cx="450.3" cy="52.5" r="3.7"/>
   </g>
   <g class="bubble2">
       <polyline class="st0" points="214.8,100.5 238.3,77 285.6,77 299.8,62.7 	"/>
       <circle class="st0" cx="301.8" cy="60.3" r="3.7"/>
       <polyline class="st0" points="228.1,100.1 241.1,87 273.8,87 	"/>
       <circle class="st0" cx="276.3" cy="87" r="3.7"/>
   </g>
   <g class="bubble4">
       <polyline class="st0" points="307.2,100.1 329.5,100.1 363.7,134.3 383.7,134.3 397.3,120.6 	"/>
       <circle class="st0" cx="399.1" cy="118.8" r="3.7"/>
       <polyline class="st0" points="314.2,100.1 357.2,143.1 402.8,143.1 	"/>
       <circle class="st0" cx="405.3" cy="143.1" r="3.7"/>
   </g>
   <g class="bubble6">
       <polyline class="st0" points="656.2,100.1 685.8,129.6 739.8,129.6 	"/>
       <circle class="st0" cx="742.2" cy="130.2" r="3.7"/>
       <polyline class="st0" points="665.9,100.1 687.2,121.4 713.9,121.4 723.8,111.5 	"/>
       <circle class="st0" cx="725.2" cy="110" r="3.7"/>
   </g>
   <g class="bubble7">
       <polyline class="st0" points="523.1,100.1 549.6,100.1 590,59.6 613.8,59.6 629.9,75.7 	"/>
       <circle class="st0" cx="631.6" cy="77.9" r="3.7"/>
       <line class="st0" x1="605.2" y1="59.6" x2="651.9" y2="59.6"/>
       <circle class="st0" cx="654.8" cy="59.6" r="3.7"/>
       <polyline class="st0" points="536.3,100.1 585.9,50.4 627.9,50.4 634.7,43.6 	"/>
       <circle class="st0" cx="636.5" cy="42.1" r="3.7"/>
   </g>
   </svg>      
    </div>

    <div class="timeline-wrapper">
        <div class="education">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>

        <div class="experience">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>
    </div>
</div>