.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;

    @media (min-width: 760px) and (max-width: 1024px){
        height: 60rem;
        margin-top: 0rem;
        margin-left: -2rem;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        margin-bottom: -12rem;
    }
}

.timeline.animated{
    opacity: 1;
}

.education {
    display: flex;
    gap: 9vw;
    margin-left: 44vh;
    
    @media (min-width: 1025px) and (max-width: 1300px){    
        gap: 3rem;
        margin-left: 12rem;
        margin-top: 3rem;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        gap: 4rem;
        display: flex;
        margin-left: 2rem;
        margin-top: -2rem;
        flex-direction: column;
        width: 100%;
    }

    @media (min-width: 480px) and (max-width: 759px){
        margin-left: 1rem;
        flex-direction: column;
        gap: 4rem;
        margin-right: 4rem;
    }
}

.education div {
    width: 15vw;
    background: #12141db3;
    padding: 1rem;
    border-radius: 2rem;
    @media (min-width: 1025px) and (max-width: 1300px){    
        width: 20rem;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        width: 90%;
    }
    @media (min-width: 480px) and (max-width: 759px){
        width: 100%;
    }
}

.experience {
    display: flex;
    gap: 8vw;
    margin-left: 11vw;
    @media (min-width: 1025px) and (max-width: 1300px){    
        gap: 4rem;
        margin-left: 2rem;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        gap: 3.5rem;
        display: flex;
        margin-right: 2rem;
        margin-left: 0;
        margin-top: -5rem;
        flex-direction: column;    
        width: 100%;
    }
    @media (min-width: 480px) and (max-width: 759px){
        margin-left: 1rem;
        flex-direction: column;
        gap: 4rem;
        margin-right: 4rem;
    }
}

.experience div {
    width: 15vw;
    background: #12141db3;
    padding: 1rem;
    border-radius: 2rem;
    @media (min-width: 1025px) and (max-width: 1300px){    
        width: 15rem;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        width: 90%;
    }
    @media (min-width: 480px) and (max-width: 759px){
        width: 100%;
    }
}

.timeline-wrapper {
    position: absolute;
    top: 5rem;
    left: 0vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15vh;
    @media (min-width: 1300px) and (max-width: 1500px){
        top: 0;
        left: 0;
        gap: 4rem;
      }   
    @media (min-width: 1025px) and (max-width: 1300px){
      top: 0;
      left: 0;
      gap: 4rem;
    }    
    @media (min-width: 760px) and (max-width: 1024px){    
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    @media (min-width: 480px) and (max-width: 759px){
        gap: 8vh;
        top: 5rem;
    }
    

}

.animated .line {
    fill: none;
    stroke: #2ab673;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    stroke-dasharray: 860; /* Length of the line path */
    stroke-dashoffset: 860; /* Start with the line hidden */
    animation: line-anim 2.5s ease forwards;
  }

.animated .bubble1 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards;
}


.animated .bubble2 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.2s;
}

.animated .bubble3 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.4s;
}

.animated .bubble4 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.6s;
}

.animated .bubble5 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.8s;
}

.animated .bubble6 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 1s;
}

.animated .bubble7 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 1.2s;
}

#Layer_1{
    @media (min-width: 480px) and (max-width: 759px){
        min-width: 40rem;
    }
}
@keyframes line-anim {
to {
    stroke-dashoffset: 0; /* Draw the line */
}
}

@keyframes fill {
to {
    fill: #2ab673; /* Change the fill color */
}
}