.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    opacity: 0;
}

.timeline.animated {
    opacity: 1;
}

.education {
    display: flex;
    gap: 9vw;
    margin-left: 44vh;
}

.education div {
    width: 15vw;
    background: #12141db3;
    padding: 1rem;
    border-radius: 2rem;
}

.experience {
    display: flex;
    gap: 8vw;
    margin-left: 11vw;
}

.experience div {
    width: 15vw;
    background: #12141db3;
    padding: 1rem;
    border-radius: 2rem;
}

.timeline-wrapper {
    position: absolute;
    top: 14vh;
    left: 0vh;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.animated .line {
    fill: none;
    stroke: #2ab673;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    stroke-dasharray: 860; /* Length of the line path */
    stroke-dashoffset: 860; /* Start with the line hidden */
    animation: line-anim 2.5s ease forwards;
  }

.animated .bubble1 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards;
}


.animated .bubble2 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.2s;
}

.animated .bubble3 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.4s;
}

.animated .bubble4 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.6s;
}

.animated .bubble5 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 0.8s;
}

.animated .bubble6 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 1s;
}

.animated .bubble7 {
    stroke-dasharray: 785;
    stroke-dashoffset: 785;
    animation: line-anim 1.5s ease forwards 1.2s;
}

  @keyframes line-anim {
    to {
      stroke-dashoffset: 0; /* Draw the line */
    }
  }
  
  @keyframes fill {
    to {
      fill: #2ab673; /* Change the fill color */
    }
  }