.navigation {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.contact_wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: var(--grey3);
}

.menu_wrapper {
    width: 50%;
    height: 75%;
    background-color: var(--grey3);
}

.menu_contact {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.menu_contact a{
    max-width: 100%;
}

.github {
    color: var(--grey);
    background-color: var(--grey2);
    -webkit-animation: zoomIn .5s ease forwards;
    animation: zoomIn .5s ease forwards;
    opacity: 1;
    transition: opacity .5s;
}

.linkedin {
    color: var(--blue1);
    background-color: var(--blue);
    -webkit-animation: zoomIn 1s ease forwards;
    animation: zoomIn 1s ease forwards;
    opacity: 1;
    transition: opacity 1s;
}

.upwork {
    color: var(--blue3);
    background-color: var(--blue2);
    -webkit-animation: zoomIn 1.5s ease forwards;
    animation: zoomIn 1.5s ease forwards;
    opacity: 1;
    transition: opacity 1.5s;
}

.skype {
    color: var(--blue5);
    background-color: var(--blue4);
    -webkit-animation: zoomIn 2s ease forwards;
    animation: zoomIn 2s ease forwards;
    opacity: 1;
    transition: opacity 2;
}

.social_title {
    font-size: 5.5rem;
    font-weight: 600;
    font-family: ExoSpace;
    padding-right: 3rem;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.social_box {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.social_box svg {
    width: 100%;
    height: 9vh;    
}

.menu_wrapper{
    display: flex;
    align-items: baseline;
}

.nav-link {
    -webkit-text-stroke: 0.1px #14e956;
    -webkit-text-fill-color: transparent;
    list-style: none;
    color: #f5f5f5;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 5rem;
    text-decoration: none;
    text-shadow: 3px 3px 0 #14e956, -1px -1px 0 #14e956, 1px -1px 0 #14e956, -1px 1px 0 #14e956, 1px 1px 0 #14e956;
}

.nav-link a {
     &:hover::before, &:active::before, &:focus::before, & .active::before {
    background-color: transparent;
    background-image: url('../../../assets/menu-pointer.svg');
    background-size: cover;
    content: " ";
    display: inline-block;
    height: 3.5rem;
    margin-right: 2rem;
    width:  3.5rem;
}
}

.nav-link::selection {
    background-color: transparent;
    color: #f5f5f5;
}

.menu_list {
    font-family: "ExoSpace";
    align-self: flex-end;
    text-align: end;
    margin-left: 10vh;
    margin-right: 10vh;
    width: 100%;
}