.tooling {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;
}

.tool {
    align-items: center;
    background: var(--grey4);
    border-radius: 8px;
    display: flex;
    flex: 0 1 18%;
    height: 60px;
    justify-content: space-evenly;
    margin: 1%;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.tools_wrapper {
    align-items: center;
    background: var(--grey4);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    width: 50%;
    -webkit-animation: jackInTheBox 2s ease forwards;
    animation: jackInTheBox 2s ease forwards;
}

.tool img{
    width: 35px;
    height: 50px;
}



.flip_margin {
    margin-bottom: 5rem;
}