.about_wrapper{
    margin-top: 8rem;
        
    @media (min-width: 480px) and (max-width: 759px){
        margin-top: 4rem;
    }
    @media (max-width: 479px){
        margin-top: 4rem;
    }

}
.avatar_description {
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    gap: 5rem;

    @media (min-width: 1025px) and (max-width: 1300px){
        gap: 4rem;
        padding: 5rem 4rem;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        padding: 5rem 3rem;
    }
    
    @media (min-width: 480px) and (max-width: 759px){
        padding: 3rem 2rem;
    }
    @media (max-width: 479px){
        padding: 3rem 2rem;
    }

}
.my_face {
    background-image: url("../../../assets/myface.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    width: 30%;
    -webkit-animation: slideInRight 2s ease forwards;
    animation: slideInRight 2s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    @media (min-width: 1025px) and (max-width: 1300px){
        width: 40%;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        display: none;
    }
    @media (min-width: 480px) and (max-width: 759px){
        display: none;
    }
    @media (max-width: 479px){
        display: none;
    } 
}
.my_face_mini {
    background-image: url("../../../assets/myface.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    width: 30%;
    -webkit-animation: slideInRight 2s ease forwards;
    animation: slideInRight 2s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 1025px){
        display: none;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        min-width: 250px;
    }
    @media (min-width: 480px) and (max-width: 759px){
        min-width: 200px;
        min-height: 200px;
        margin: auto;
    }
    @media (max-width: 479px){
        min-width: 200px;
        min-height: 200px;
        margin: auto;
    } 
}
.shading-bottom {
    background: linear-gradient(0deg,var(--green1),hsla(0,0%,100%,.005) 93%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: end;
    padding: 1rem;
}
.face_desc_wrapper{
    display: flex;
    gap: 2rem;
    @media (min-width: 480px) and (max-width: 759px){
        flex-direction: column;
    }
    @media (max-width: 479px){
        flex-direction: column;
    }
}
.description_wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media (min-width: 760px) and (max-width: 1024px){
        width: 100%;
    }    
    @media (min-width: 480px) and (max-width: 759px){
        width: 100%;
    }
    @media (max-width: 479px){
        width: 100%;
    }
}

.description {
    font-size: 1.5rem;
    text-align: justify;
}

.description span {
    color: var(--green6)
}

.skills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 4%;
    margin-top: -3rem;
}

.skill {
    width: 30%;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 480px) and (max-width: 759px){
        width: 45%;
    }
    @media (max-width: 479px){
        width: 45%;
    }
}

.skill-title{
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 100%;
    background-color: var(--blue6);
    border-radius: 5px;
    height: 0.5rem;
}

.bar-fill{
    background-color:var(--green7);
    border-radius: 5px;
    height: 0.5rem;
}

.works_header {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (min-width: 1025px) and (max-width: 1300px){
        margin-top: 4rem;
        margin-left: 4rem;
        margin-bottom: 0;
    }
    @media (min-width: 760px) and (max-width: 1024px){
        margin-left: 3rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }    
    @media (min-width: 480px) and (max-width: 759px){
        margin-left: 0rem;
    }
    @media (max-width: 479px){
        margin-left: 0rem;
    }
}

.works_header h2 {
    font-weight: 700;
    padding: 0;
}
.works{
    margin-bottom: 10rem;
    @media (min-width: 480px) and (max-width: 759px){
        margin-left: 2rem;
        margin-top: 2rem;
    }
    @media (max-width: 479px){
        margin-left: 2rem;
        margin-top: 2rem;
    }
}

.works .works_header{
    @media (min-width: 759px){
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

.hobbies {
    display: flex;
    background:  var(--blue6);
    border-radius: 15px;
    padding: 1rem 2rem;
    width: max-content;
    margin-top: -3rem;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @media (min-width: 480px) and (max-width: 759px){
        width: 100%;
        justify-content: center;
    }
    @media (max-width: 479px){
        width: 100%;
        justify-content: center;
    }
}

.hobbies div{
    width: 5rem;
    height: 5rem;
    background-color: var(--green6);
    border: 3px solid var(--green5);
    border-radius: 1rem;
}

