.contact_wrapper {
    width: 100%;
    height: 90vh;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_wrapper{
    display: flex;
    width: 80%;
    min-height: 60vh;
    height: 60vh;
    align-items: center;
}

.astronaut{
    width: 45%;
    height: 45vh;
    background-image: url('../../../assets/astronautmail.svg');
    background-repeat: no-repeat;
    -webkit-animation: zoomIn 1.5s ease forwards;
    animation: zoomIn 1.5s ease forwards;
    background-position: center;
}

.contact_form {
    width: 55%;
}

.contact_input {
    align-items: center;
    background: var(--blue6);
    border-radius: 12px;
    box-shadow: inset 0 0 4px 1px var(--green4);
    -webkit-box-shadow: inset 0 0 4px 1px var(--green4);
    -moz-box-shadow: inset 0 0 4px 1px var(--green4);
    margin-bottom: 1rem;
    padding: 0.8rem 2rem;
}

.contact_input input  {
    background-color: var(--blue6)!important;
    color: var(--green4)!important;
    font-family: Cyborg;
    outline: none;
    border: 0;
    width: 100%;
    font-size: 1.4rem;
}
.contact_input input:-webkit-autofill,
.contact_input input:-webkit-autofill:hover, 
.contact_input input:-webkit-autofill:focus, 
.contact_input input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--green4)!important; 
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
.contact_input input::placeholder {
    color: var(--green5);

}

.contact_input textarea {
    background-color: var(--blue6);
    color: var(--green4);
    font-family: Cyborg;
    outline: none;
    width: 100%;
    border: 0;
    font-size: 1.4rem;
}

.contact_input textarea::placeholder {
    color: var(--green5);

}

