<div class="contact_wrapper">
    <div class="flip_title flip_margin">
        <h2>Send me a mail</h2>
    </div>
    <div class="form_wrapper">
        <div class="astronaut">

        </div>
        <form class="contact_form" action="https://formspree.io/f/xjvnkanz"
        method="POST"  target="_blank">
            <div style="display: flex; gap: 1rem">
                <div class="contact_input" style="width: 15rem">
                    <input  type="text" name="name" placeholder="name"> 
                </div>
                <div class="contact_input" style="width: 25rem">
                    <input  type="email" name="email" placeholder="email"> 
                </div>
            </div>
            <div class="contact_input">
                <input type="text" name="subject" placeholder="subject">
            </div> 
            <div class="contact_input">
                <textarea cols="50" rows="10" name="message" placeholder="type your message here..." ></textarea>
            </div>
            <div class="pulse_button_wrap pointer"><button class="pulse_button pointer" type="submit"
                (click)="redirectHome($event)">Send →</button></div>
        </form>
    </div>        
</div>